<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="main bg-zinc-900 w-full min-h-screen text-white">
        <h1 class="p-4 text-2xl"> <%=fileName%></h1>
        <div class="px-4 py-2"><%=fileData%></div>
        <a  class="text-blue-500 px-4"href="/">Go back to home</a>
    </div>
  </body>
</html>
